.form-inputs mt-2 {
  max-width: 300px; 
  display: flex;
  flex-wrap: wrap;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-style: hidden;
  background-color: #b3f78c
}

#table2 {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-style: hidden;
  background-color: #f2bafa;
  border-spacing: 30px;
}

td, th {
  border: 4px solid #dddddd;
  text-align: left;
  padding: 10px;
  border-style: hidden;
}

#td3{
  background-color: #ffc6d3
}
#td2{
  background-color: #babefa
}